$bg-color: #dcd6f7;
$fg-color: #424874;
$text-color: #cacfd6;
$start-color: #28a745;
$pause-color: #ffc107;
$laps-color: #007bff;
$reset-color: #dc3545;
$white: white;

@mixin button($color) {
  background-color: $color;
  &:hover {
    background-color: darken($color: $color, $amount: 15);
  }
}

@mixin flex($direction: null, $justify-content: null, $align-items: null) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin absolute($top: null, $right: null, $bottom: null, $left: null) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin heightWidth($h: null, $w: null) {
  height: $h;
  width: $w;
}

@mixin needle($color : null, $bg-color : null, $z) {
  transform-origin: 50% 80%;
  color : $color;
  background: $bg-color;
  z-index: $z;
}

@mixin circle($h, $m) {
  border-radius: 50%;
  @include heightWidth($h, $m);
}

html {
  @include heightWidth($h: 100%);
}

body {
  background-color: $bg-color;
  box-sizing: border-box;
  font-family: sans-serif;
  @include heightWidth($h: 100%);
}

.container {
  @include flex($justify-content: space-evenly, $align-items: center);
  @include heightWidth($h: 100%);
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.clock-area {
  @include flex($direction: column, $align-items: center);
  flex: 2;
  @media (max-width: 910px) {
    flex: 1;
  }
}

.clock-container {
  @include heightWidth($h: 400px, $w: 400px);
  // background-size: cover;
  margin: 0 0 50px;
  border: 5px solid $fg-color;
  background-color: $white;
  position: relative;
  padding: 5px;
  // @media(max-width : 910px) {
  //   width: 300px;
  //   height: 300px;
  // }
  // img {
  //   width: 100%;
  //   border-radius: 50%;
  //   height: 100%;
  // }
  .digit {
    z-index: 100;
    margin: 0;
    padding: 0;
    color: $fg-color;
    font-size: 64px;
  }
  .twelve {
    @include absolute($top: 0, $left: 42%);
  }
  .three {
    @include absolute($top: 41%, $right: 2%);
  }
  .six {
    @include absolute($bottom: 0, $left: 46%);
  }
  .nine {
    @include absolute($top: 41%, $left: 2%);
  }
  #seconds {
    @include absolute($top: 17.5%, $left: 50%);
    @include heightWidth($h: 40%, $w: 0.5%);
    @include needle($bg-color : $fg-color, $z : 4);
  }
  #minutes {
    @include absolute($top: 13.3%, $left: 49.7%);
    @include heightWidth($h: 45%, $w: 1.1%);
    @include needle($bg-color : $fg-color, $z : 3);
  }
  #hours {
    @include absolute($top: 25.5%, $left: 49.5%);
    @include heightWidth($h: 30%, $w: 1.6%);
    @include needle($bg-color : $fg-color, $z : 2);
  }
  #milli-seconds {
    @include absolute($top: 29.27%, $left: 49.5%);
    @include heightWidth($h: 25%);
    transform-origin: 50% 80%;
    border: 0.5px dashed $fg-color;
    z-index: 5;
  }
  .needles-center {
    @include absolute($top: 47.5%, $left: 48.5%);
    @include circle($h: 15px, $w: 15px);
    background: black;
    z-index: 6;
  }
  .digital-time {
    @include flex($justify-content: center, $align-items: center);
    @include absolute($bottom: 27%, $left: 38%);
    @include heightWidth($h: 5%, $w: 22%);
    @include needle($color : $fg-color);
    border: 1px solid $fg-color;
    font-size: 18px;
    padding: 4px 3px;
  }
}

.clock-controls {
  margin: auto;
  .btn {
    @include circle($h: 100px, $w: 100px);
    color: $white;
    font-size: 18px;
    transition: 0.3s ease-in;
    &:hover {
      cursor: pointer;
    }
  }
  .start-button {
    @include button($start-color);
  }
  .pause-button {
    @include button($pause-color);
  }
  .laps-button {
    @include button($laps-color);
  }
  .reset-button {
    @include button($reset-color);
  }
  .disabled-button {
    @include button(lighten($color: black, $amount: 15));
    &:hover {
      cursor: not-allowed;
    }
  }
}

.laps-area {
  flex: 1;
}

.laps-container {
  @include heightWidth($h: 550px, $w: 80%);
  border-radius: 10px;
  box-shadow: 4px 4px 0 0 darken($color: $bg-color, $amount: 5);
  background-color: $white;
  @include flex($direction: column, $align-items: center);
  .laps-heading {
    font-size: 24px;
    font-weight: bold;
    margin: 15px 0 0;
    color: $fg-color;
  }
}

.laps-list {
  @include heightWidth($h: 75%, $w: 60%);
  color: $fg-color;
  padding: 10px 5px;
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
  overflow-y: scroll;
  .no-lap-msg {
    font-size: 14px;
    color: $reset-color;
    text-align: center;
  }
  &-item {
    @include flex($justify-content: center);
    background-color: $text-color;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 7px 0;

    @media (max-width: 1159px) {
      font-size: 16px;
    }
    @media (max-width: 1017px) {
      font-size: 13px;
    }
  }
  .fa-times {
    display: inline-block;
    margin-left: 15px;
    margin-right: 10px;
    color: $reset-color;
    &:hover {
      cursor: pointer;
    }
  }
}

// to change scroll bar
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
