html {
  height: 100%;
}

body {
  background-color: #dcd6f7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  height: 100%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

@media (max-width: 768px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.clock-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

@media (max-width: 910px) {
  .clock-area {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.clock-container {
  background-size: cover;
  margin: 0 0 50px;
  border: 5px solid #424874;
  background-color: white;
  border-radius: 50%;
  position: relative;
  padding: 5px;
  width: 400px;
  height: 400px;
}

.clock-container .digit {
  position: absolute;
  z-index: 100;
  margin: 0;
  padding: 0;
  color: #424874;
  font-size: 64px;
}

.clock-container .twelve {
  top: 0;
  left: 42%;
}

.clock-container .three {
  right: 2%;
  top: 41%;
}

.clock-container .six {
  bottom: 0;
  left: 46%;
}

.clock-container .nine {
  left: 2%;
  top: 41%;
}

.clock-container #seconds {
  background: #424874;
  height: 40%;
  left: 50%;
  position: absolute;
  top: 17.5%;
  -webkit-transform-origin: 50% 80%;
          transform-origin: 50% 80%;
  width: 0.5%;
  z-index: 4;
}

.clock-container #minutes {
  background: #424874;
  height: 45%;
  left: 49.7%;
  position: absolute;
  top: 13.3%;
  -webkit-transform-origin: 50% 80%;
          transform-origin: 50% 80%;
  width: 1.1%;
  z-index: 3;
}

.clock-container #hours {
  background: #424874;
  height: 30%;
  left: 49.5%;
  position: absolute;
  top: 25.5%;
  -webkit-transform-origin: 50% 80%;
          transform-origin: 50% 80%;
  width: 1.6%;
  z-index: 2;
}

.clock-container #milli-seconds {
  height: 25%;
  left: 49.5%;
  position: absolute;
  top: 29.27%;
  -webkit-transform-origin: 50% 80%;
          transform-origin: 50% 80%;
  border: 0.5px dashed #424874;
  z-index: 5;
}

.clock-container .needles-center {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: black;
  position: absolute;
  top: 47.5%;
  left: 48.5%;
  z-index: 6;
}

.clock-container .digital-time {
  height: 5%;
  left: 38%;
  position: absolute;
  border: 1px solid #424874;
  bottom: 27%;
  color: #424874;
  font-size: 18px;
  -webkit-transform-origin: 50% 80%;
          transform-origin: 50% 80%;
  padding: 4px 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 22%;
}

.clock-controls {
  margin: auto;
}

.clock-controls .btn {
  color: white;
  font-size: 18px;
  border-radius: 50%;
  outline: none;
  width: 100px;
  height: 100px;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.clock-controls .btn:hover {
  cursor: pointer;
}

.clock-controls .start-button {
  background-color: #28a745;
}

.clock-controls .start-button:hover {
  background-color: #19692c;
}

.clock-controls .pause-button {
  background-color: #ffc107;
}

.clock-controls .pause-button:hover {
  background-color: #ba8b00;
}

.clock-controls .laps-button {
  background-color: #007bff;
}

.clock-controls .laps-button:hover {
  background-color: #0056b3;
}

.clock-controls .reset-button {
  background-color: #dc3545;
}

.clock-controls .reset-button:hover {
  background-color: #a71d2a;
}

.clock-controls .disabled-button {
  background-color: #262626;
}

.clock-controls .disabled-button:hover {
  background-color: black;
}

.clock-controls .disabled-button:hover {
  cursor: not-allowed;
}

.laps-area {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.laps-container {
  width: 80%;
  height: 550px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 0 0 #cac1f3;
          box-shadow: 4px 4px 0 0 #cac1f3;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.laps-container .laps-heading {
  font-size: 24px;
  font-weight: bold;
  margin: 15px 0 0;
  color: #424874;
}

.laps-list {
  color: #424874;
  padding: 10px 5px;
  font-size: 20px;
  width: 60%;
  margin-top: 10px;
  height: 75%;
  text-align: center;
  overflow-y: scroll;
}

.laps-list .no-lap-msg {
  font-size: 14px;
  color: #dc3545;
  text-align: center;
}

.laps-list-item {
  background-color: #cacfd6;
  padding: 10px 20px;
  border-radius: 20px;
  margin: 7px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1159px) {
  .laps-list-item {
    font-size: 16px;
  }
}

@media (max-width: 1017px) {
  .laps-list-item {
    font-size: 13px;
  }
}

.laps-list .fa-times {
  display: inline-block;
  margin-left: 15px;
  margin-right: 10px;
  color: #dc3545;
}

.laps-list .fa-times:hover {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*# sourceMappingURL=main.css.map */